doctype html
link(rel='stylesheet' href='/css/student1.css')

head
    title Procrastination - student1
body
    h1 Seth McDaniel
    h2 
        a(href="/student1") Procrastination
    section(class="center")
        h2 Edit Comment

        section
            form(action='/student1/editcomment/update/' + comment.id, method='POST')
                textarea#textentry(name="text")= comment.comment 
                br
                button(type='submit') Update Comment